@FrameObj/*.asv
*.asv
*.html
*.asv
*.asv
lab02/~$b2Draft.docx
lab02/~WRD3585.tmp
*.log
FinalReport/finalReport.aux
*.aux
FinalReport/finalReport.synctex
*.toc
*.aux
*.synctex
FinalReport/finalReport.toc
*.aux
*.log